Unity Projects/GearBlocksMapTemplate/*.*
Unity Projects/GearBlocksMapTemplate/Library
Unity Projects/GearBlocksMapTemplate/Logs
Unity Projects/GearBlocksMapTemplate/obj
Unity Projects/GearBlocksMapTemplate/ProfileAnalyzer
Unity Projects/GearBlocksMapTemplate/UserSettings
Thumbs.db
